body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.slides {
  height: 100vh;
  background-size: cover;
}
.slider {
  position: relative;
  width: 100%;
  margin: auto;
  overflow-y: hidden;
}
.slider img {
  width: 100%;
  display: none;
}
img.show {
  display: block;
}
.pres,
.next {
  position: absolute;
  top: 50%;
  font-size: 3rem;
  border: none;
  outline: none;
  background-color: rgba(49, 49, 49, 0.452);
}
.next {
  left: 98%;
}
